services:
  env-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"
    expose:
      - "18888"
      - "18889"
    networks:
      - "aspire"
    restart: "always"
  postgresdb:
    image: "docker.io/library/postgres:17.6"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "${POSTGRESDB_PASSWORD}"
    expose:
      - "5432"
    volumes:
      - type: "volume"
        target: "/var/lib/postgresql/data"
        source: "dashydb"
        read_only: false
    networks:
      - "aspire"
  apiservice:
    image: "${APISERVICE_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${APISERVICE_PORT}"
      ConnectionStrings__postgresdb: "Host=postgresdb;Port=5432;Username=postgres;Password=${POSTGRESDB_PASSWORD}"
      POSTGRESDB_HOST: "postgresdb"
      POSTGRESDB_PORT: "5432"
      POSTGRESDB_USERNAME: "postgres"
      POSTGRESDB_PASSWORD: "${POSTGRESDB_PASSWORD}"
      POSTGRESDB_URI: "postgresql://postgres:${POSTGRESDB_PASSWORD}@postgresdb:5432"
      POSTGRESDB_JDBCCONNECTIONSTRING: "jdbc:postgresql://postgresdb:5432"
      ConnectionStrings__dashy: "Host=postgresdb;Port=5432;Username=postgres;Password=${POSTGRESDB_PASSWORD};Database=dashy"
      DASHY_HOST: "postgresdb"
      DASHY_PORT: "5432"
      DASHY_USERNAME: "postgres"
      DASHY_PASSWORD: "${POSTGRESDB_PASSWORD}"
      DASHY_URI: "postgresql://postgres:${POSTGRESDB_PASSWORD}@postgresdb:5432/dashy"
      DASHY_JDBCCONNECTIONSTRING: "jdbc:postgresql://postgresdb:5432/dashy"
      DASHY_DATABASE: "dashy"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "apiservice"
    expose:
      - "${APISERVICE_PORT}"
    depends_on:
      postgresdb:
        condition: "service_started"
    networks:
      - "aspire"
  webfrontend:
    image: "${WEBFRONTEND_IMAGE}"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "${WEBFRONTEND_PORT}"
      auth_authority: ""
      auth_clientid: ""
      auth_clientsecret: ""
      APISERVICE_HTTP: "http://apiservice:${APISERVICE_PORT}"
      services__apiservice__http__0: "http://apiservice:${APISERVICE_PORT}"
      APISERVICE_HTTPS: "https://apiservice:${APISERVICE_PORT}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://env-dashboard:18889"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_SERVICE_NAME: "webfrontend"
    ports:
      - "${WEBFRONTEND_PORT}"
    depends_on:
      apiservice:
        condition: "service_started"
    networks:
      - "aspire"
networks:
  aspire:
    driver: "bridge"
volumes:
  dashydb:
    driver: "local"
