@using Dashy.Net.Shared.Models
@inherits WidgetBase

<div class="clock-widget-container item-card @GetItemSizeClass()">
    @if (string.IsNullOrWhiteSpace(_errorMessage))
    {
        <div class="time-display">@_currentTime.ToString("HH:mm:ss")</div>
        <div class="date-display">@_currentTime.ToString("dddd, MMMM d")</div>
    }
    else
    {
        <div class="error-message">@_errorMessage</div>
    }
    @if (IsEditMode)
    {
        <div class="widget-actions">
            <button class="btn btn-primary" @onclick="EditWidget">Edit</button>
            <button class="btn btn-danger" @onclick="DeleteWidget">Delete</button>
        </div>
    }
</div>

@code
{
    private System.Threading.Timer? _timer;
    private DateTime _currentTime = DateTime.Now;
    private string? _errorMessage;

    private string TimeFormat => GetOption("timeFormat") ?? "HH:mm:ss";
    private string DateFormat => GetOption("dateFormat") ?? "dddd, MMMM d";

    [Parameter]
    public bool IsEditMode { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _timer = new Timer(UpdateTime, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    private async void OnTimerElapsed(object? sender, System.Timers.ElapsedEventArgs e)
    {
        _currentTime = DateTime.Now;
        await InvokeAsync(StateHasChanged);
    }

    private void UpdateTime(object? state)
    {
        if (IsDisposed) return;
        _currentTime = DateTime.Now;
        InvokeAsync(StateHasChanged);
    }

    private void EditWidget()
    {
        // Logic to edit the widget
    }

    private void DeleteWidget()
    {
        // Logic to delete the widget
    }

    public override void Dispose()
    {
        base.Dispose();;
        _timer?.Dispose();
    }
    
}
