.item-card:hover {
    transform: none;
    background-color: var(--card-background-color);
    border-color: var(--border-color);
}
ul {
    list-style: none;
}
a:hover{
    text-decoration: underline;
    color: darkblue;
}
