@inherits WidgetBase

<WidgetChrome Title="Unknown Widget"
              Icon="fas fa-question-circle"
              SizeClass="@GetItemSizeClass()"
              ColorClass="red"
              IsEditMode="@ViewOptions.IsEditMode"
              IsEmpty="true">
    <EmptyContent>
        <div class="tile-description">The widget type '<code>@Widget</code>' is not supported</div>
    </EmptyContent>
</WidgetChrome>

@code {
    [Parameter] public string? Widget { get; set; }
}